.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    /* background-color: #00008B; */
    color: #fff;
    margin: 0 15px;
    font-size: 4em;
    background-size: cover;
}

.topOverlay{
    display: flex;
    width: 50%;
    height: 40%;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20vh;
}

.topOverlay h2{
    font-size: 1rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 
    color: black;
    font-weight: 900;
}

.topOverlay h3{
    font-size: 0.8rem;
    color: grey;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 
    font-weight: 700;
}

.topOverlay h4{
    font-size: 0.9rem;
    color: orange;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 
    font-weight: 900;
}